* {
    padding:0;
    margin:0;
}
body {
    font-family:'Roboto Condensed', sans-serif;
}
nav {
    margin:0px;
    display:flex;
    justify-content:center;
    border-bottom: 10px solid #333;
}
ul {
    overflow:auto;
    list-style-type:none;
}
li {
    height:75px;
    float:left;
    text-align:center;
    margin-right:0px;
    border-left:1px solid #333;
    border-right:1px solid #333;
    padding:0 20px;
}
li a {
    text-decoration:none;
    color:#ccc;
    font: 20px, Helvetica, Verdana, sans-serif;
    text-transform:uppercase;
    font-size:350%;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
li a:hover{
    color:#666
}
li.active a{
    font-weight:bold;
    color:#333
}
header {
    text-align:center;
    font-weight:bold;
    font-size:300%
}
h1{
    border-bottom:5px solid #333;
}