* {
    padding:0;
    margin:0;
}
body {
    font-family:'Roboto Condensed', sans-serif;
    border-top:5px solid #333;
    border-right:5px solid #333;
    border-left: 5px solid #333;
}
nav {
    margin:0px;
    display:flex;
    justify-content:center;
    border-bottom: 10px solid #333;
}
ul {
    overflow:auto;
    list-style-type:none;
}
li {
    height:75px;
    float:left;
    text-align:center;
    margin-right:0px;
    border-left:1px solid #333;
    border-right:1px solid #333;
    padding:0 20px;
}
li a {
    text-decoration:none;
    color:#ccc;
    font: 20px, Helvetica, Verdana, sans-serif;
    text-transform:uppercase;
    font-size:350%;

    transition: all 0.5s ease;
}
li a:hover{
    color:#666
}
li.active a{
    font-weight:bold;
    color:#333
}
header {
    text-align:center;
    font-weight:bold;
    font-size:300%
}
h1{
    text-transform:uppercase;
    border-bottom:5px solid #333;
}
h2{
    text-transform:uppercase;
}
.columns{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;

}
.column{
    font-family:Arial, Helvetica, sans-serif;
    border-right:5px solid #333;
    flex-direction:column;
    padding-left:15px;
    width:400px;
    flex:1 0 auto;
    flex-wrap:wrap;
    padding-right:15px;
    border-bottom:5px solid #333;
}
.column img{
    padding-left:50px;
}
h2:hover{
    color:#666;
}
.rows{
    display:flex;
    flex-direction:column;
}
.row{
    font-family:Arial, Helvetica, sans-serif;
    border-right:5px solid #333;
    flex-direction:row;
    padding-left:25px;
    flex:1 0 auto;
    flex-wrap:wrap;
    padding-right:15px;
    border-bottom:5px solid #333;
}
footer{
    display:flex;
    justify-content:space-around;
    border-bottom:5px solid #333
}
footer p{
    text-transform:uppercase;
    font-weight:bold;
}
@media (max-width:1180px){
    h1{
        font-size:75%;
    }
    nav{
        font-size:70%;
    }
    li {
        height:50px;
    }
}


